<p>My Friends</p>

<div class="card-columns">
    <div class="card">
        <img class="card-img-top" src="assets/profile-pic.png" alt="Profile Image">
        <div class="card-body">
            <h5 class="card-title">Username</h5>
            <p class="card-text">Profile link</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/profile-pic.png" alt="Profile Image">
        <div class="card-body">
            <h5 class="card-title">Username</h5>
            <p class="card-text">Profile link</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/profile-pic.png" alt="Profile Image">
        <div class="card-body">
            <h5 class="card-title">Username</h5>
            <p class="card-text">Profile link</p>
        </div>
    </div>
</div>