<p>My Games</p>

<div class="card-columns">
    <div class="card">
        <img class="card-img-top" src="assets/video-games.jpg" alt="Game Image">
        <div class="card-body">
            <h5 class="card-title">Game Title</h5>
            <p class="card-text">Game URL link</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/video-games.jpg" alt="Game Image">
        <div class="card-body">
            <h5 class="card-title">Game Title</h5>
            <p class="card-text">Game URL link</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/video-games.jpg" alt="Game Image">
        <div class="card-body">
            <h5 class="card-title">Game Title</h5>
            <p class="card-text">Game URL link</p>
        </div>
    </div>
</div>