<p>Profile details</p>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/profile-pic.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">My Profile</h5>
      <p class="card-text">These are your profile detail selections.</p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Skill</td>
            <td>5</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Preference</td>
            <td>Adventure</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Attitude</td>
            <td>Relaxed</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>