<div class="card">
    <div class="card-header">
        Please create a user profile
    </div>
    <div class="card-body">

        <h5 class="card-title">User Profile</h5>
        <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">

            <div class="form-group" style="padding:10px;">
                <label for="user-name" class="control-label">User Name: </label>
                <input id="user-name" type="text" formControlName="userName" class="form-control">
            </div>

            <div class="form-group" style="padding:10px;">
                <label for="skill-level" class="control-label">Skill Level: </label>
                <input id="skill-level" type="text" formControlName="skillLevel" class="form-control">
            </div>

            <div class="form-group" style="padding:10px;">
                <button type="submit" class="btn btn-primary" [disabled]="!userProfileForm.valid">Submit</button>
            </div>
        </form>

    </div>
</div>